<%= form_for(@deck) do |f| %>
  <% if @deck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deck.errors.count, "error") %> prohibited this deck from being saved:</h2>

      <ul>
      <% @deck.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

    <% @deck.cards.each do |card| %>
      <div class="field">
        <%= card.label :name %><br />
        <%= card.text_field :name %>
      </div>
      <div class="field">
        <%= card.label :strength %><br />
        <%= card.number_field :strength %>
      </div>
      <div class="field">
        <%= card.label :deck_id %><br />
        <%= card.number_field :deck_id %>
      </div>
    <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
